USE [master]
GO
/****** Object:  Database [BaseForAuthorize1M]    Script Date: 25.02.2021 19:38:40 ******/
CREATE DATABASE [BaseForAuthorize1M]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseForAuthorize1M', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BaseForAuthorize1M.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseForAuthorize1M_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BaseForAuthorize1M_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseForAuthorize1M].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseForAuthorize1M]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 25.02.2021 19:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25.02.2021 19:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[PassHash] [varchar](50) NOT NULL,
	[FName] [varchar](50) NOT NULL,
	[MName] [varchar](50) NULL,
	[LName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Seller')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'Accountant')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [RoleID], [Login], [PassHash], [FName], [MName], [LName]) VALUES (1, 1, N'Ivan', N'202CB962AC59075B964B07152D234B70', N'Иван', NULL, N'Иванов')
INSERT [dbo].[User] ([ID], [RoleID], [Login], [PassHash], [FName], [MName], [LName]) VALUES (2, 3, N'Petr', N'202CB962AC59075B964B07152D234B70', N'Петр', NULL, N'Петров')
INSERT [dbo].[User] ([ID], [RoleID], [Login], [PassHash], [FName], [MName], [LName]) VALUES (3, 5, N'Vasek', N'202CB962AC59075B964B07152D234B70', N'Вася', NULL, N'Васечкин')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
